<div class="row">
    <div class="col-md-9">
        <h5 class="card-title">QUẢN LÝ VIDEO</h5>
    </div>
    <div class="col-md-3">
        <button class="mb-2 btn-transition btn btn-success" onclick="themVideo()">
            THÊM VIDEO</button>
    </div>
</div>

<script>
    function themVideo() {
        location.href = "video/add";
    } 
</script>
<table class="mb-0 table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Url nhúng</th>
            <th>Thời lượng</th>
            <th>Số lượt xem</th>
            <th>Nguồn đăng</th>
            <th>Thời gian đăng</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.tieu_de}}</td>
            <td>{{this.url_nhung}}</td>
            <td>{{this.thoi_luong}}</td>
            <td>{{this.so_luot_xem}}</td>
            <td>{{this.nguon_dang}}</td>
            <td>{{this.thoi_gian_dang}}</td>
            <td>
                <a href="video/edit/{{this._id}}"><i class="fas fa-edit"></i></a>
                <a href="video/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>