<section class="section-de-cu index-section">
    <div class="container">
        <div class="title_home"> <a href="#"> <h1 class="title_home_text">TRUYỆN ĐỀ CỬ</h1> </a> </div>
        <div class="owl-carousel owl-theme" id="truyen-de-cu">{{#each lstTruyenDeCu}}<div class="item"> <a
                    href="/truyen-tranh/{{this.slug_truyen}}" class="card-content" title="{{this.ten_truyen}}"> <img
                        src="{{this.hinh_truyen}}" alt="{{this.ten_truyen}}" class="card-img"> </a>
                <div class="slide-caption">
                    <h3> <a href="/truyen-tranh/{{this.slug_truyen}}"
                            title="Tu Chân Giả Tại Dị Thế">{{this.ten_truyen}}</a> </h3> <a
                        href="/truyen-tranh/{{this.slug_truyen}}"
                        title="Chapter{{this.chap_moi_ra.2.ten_chuong}}">Chapter&nbsp;{{this.chap_moi_ra.2.ten_chuong}}</a>
                    <i class="needs_to_be_rendered"
                        datetime="{{this.chap_moi_ra.2.thoi_gian_tao}}">{{this.chap_moi_ra.2.thoi_gian_tao}}</i>
                </div>
            </div>{{/each}}</div>
    </div>
</section>{{!-- sectionnoidungtrangchu --}}<section class="index-section">
    <div class="container">
        <div>
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="title_home"> <a href="#"><h1 class="title_home_text">TRUYỆN MỚI CẬP NHẬT</h1></a>
                    </div>
                    <div class="row truyen-item-home">{{#each lstTruyenCapNhat}}<div class="col-md-3 col-6">
                            <div class="item-truyen text-left">
                                <figure class="clearfix">
                                    <div class="image"> <a title="{{this.ten_truyen}}"
                                            href="/truyen-tranh/{{this.slug_truyen}}" class="preview"> <img
                                                data-src="{{this.hinh_truyen}}"
                                                src="//images.weserv.nl/?url=https://sweettutos.com/wp-content/uploads/2015/12/placeholder.png&w=200"
                                                class="lazy-hinh" data-original="{{this.hinh_truyen}}"
                                                alt="{{this.ten_truyen}}" style="display: inline;"> <span
                                                style="display: none;" id="hidden-ten-truyen">{{this.ten_truyen}}</span>
                                            <span style="display: none;" id="hidden-the-loai">{{this.the_loai}}</span>
                                            <span style="display: none;" id="hidden-luot-xem">{{this.luot_xem}}</span>
                                            <span style="display: none;" id="hidden-tac-gia">{{this.tac_gia}}</span>
                                            <span style="display: none;" id="hidden-noi-dung">{{this.noi_dung}}</span>
                                        </a>
                                        <div class="view clearfix"> <span class="pull-left"> <i class="fa fa-eye"></i>
                                                <span class="needs_to_format">{{this.luot_xem}}</span> <i
                                                    class="fa fa-comment"></i> <span
                                                    class="needs_to_format">{{this.luot_danh_gia}}</span> <i
                                                    class="fa fa-heart"></i> <span
                                                    class="needs_to_format">{{this.luot_theo_doi}}</span> </span> </div>
                                    </div>
                                    <figcaption>
                                        <h3> <a class="jtip"
                                                href="/truyen-tranh/{{this.slug_truyen}}">{{this.ten_truyen}}</a> </h3>
                                        <ul>
                                            <li class="chapter clearfix"><a href="/truyen-tranh/{{this.slug_truyen}}"
                                                    title="Chapter-{{this.chap_moi_ra.2.ten_chuong}}:{{this.ten_truyen}}"
                                                    class="sts">Chapter&nbsp;{{this.chap_moi_ra.2.ten_chuong}}</a><i
                                                    class="time needs_to_be_rendered"
                                                    datetime="{{this.chap_moi_ra.2.thoi_gian_tao}}"></i></li>
                                            <li class="chapter clearfix"><a href="/truyen-tranh/{{this.slug_truyen}}"
                                                    title="Chapter-{{this.chap_moi_ra.1.ten_chuong}}:{{this.ten_truyen}}"
                                                    class="sts">Chapter&nbsp;{{this.chap_moi_ra.1.ten_chuong}}</a><i
                                                    class="time needs_to_be_rendered"
                                                    datetime="{{this.chap_moi_ra.1.thoi_gian_tao}}">{{this.chap_moi_ra.1.thoi_gian_tao}}</i>
                                            </li>
                                            <li class="chapter clearfix"><a href="/truyen-tranh/{{this.slug_truyen}}"
                                                    title="Chapter-{{this.chap_moi_ra.0.ten_chuong}}:{{this.ten_truyen}}"
                                                    class="sts">Chapter&nbsp;{{this.chap_moi_ra.0.ten_chuong}}</a><i
                                                    class="time needs_to_be_rendered"
                                                    datetime="{{this.chap_moi_ra.0.thoi_gian_tao}}">{{this.chap_moi_ra.0.thoi_gian_tao}}</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>{{/each}}</div>
                       <nav aria-label="Page navigation example">
{{{ navRender }}}
</nav>
                    <div class="clearfix mb-10"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">{{> home-sidebar-history}}{{> home-sidebar-category}}</div>
            </div>
        </div>
    </div>
</section>{{!-- endsectionnoidungtrangchu --}}